body
{
    background-color: #080000 ;
}
h4
{

    text-align-last: right;
    font-weight: bolder;
    color: rgb(168, 180, 0);
}
p
{
    color: #ADEFD1FF;
}
.italic 
{

    font-size: 22px;
    font-style: italic;
}
.bold
{   
    color: rgb(26, 240, 6);
    font-weight: bold;


}
.bruh
{
    font-style: italic;

}
.small
{
    font-size: small;
    font-weight: lighter;
}
.contact
{
    font-size: 15px;
    color: rgb(0, 110, 255);
}

.button
{
    text-align: unset;
}
.linky
{
    color: lightgreen;
    font-weight: bold;
}
.eye_img
{
    text-align: center;
}
.privacy
{
    color: #ADEFD1FF;
    font-size: large;
}
fsf.html
{
    color: #ADEFD1FF;
    font-size: large;
}
.gnu
{
    background-color:#080000 ;
}
