body
{
    background-color: black;
}
h4
{

    text-align-last: right;
    font-weight: bolder;
    color: rgb(168, 180, 0);
}
p
{
    color: #ADEFD1FF;
    text-align: center;
}
.italic 
{

    font-size: 22px;
    font-style: italic;
}
.bold
{   
    color: rgb(26, 240, 6);
    font-size: larger;
    font-weight: 9999999;


    


}
.bruh
{
    font-style: italic;

}
.small
{
    font-size: medium;
    font-weight: lighter;
    text-align: center;

}
.contact
{
    font-size: 15px;
    color: rgb(0, 110, 255);
}

.button
{
    text-align: unset;
}
.linky
{
    color: lightgreen;
    font-size: 30px;
    font-weight: bold;
}
.eye_img
{
    text-align: center;
}
.privacy
{
    color: #ADEFD1FF;
    font-size: large;
}
fsf.html
{
    color: #ADEFD1FF;
    font-size: large;
}
.gnu
{
    background-color:#080000 ;
}
.quote1
{
    color: gold;

    font-size: larger;
}
